{% extends "::layout.html.twig" %}

{% block title %}
  Map - {{ parent() }}
{% endblock %}

{% block body %}
    <ul id="photo-panel">
      <li><strong>Photos clicked</strong></li>
    </ul>
    <div id="map-canvas" style="height: 100%;"></div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript">ChangeNavSel('navMap');</script>
	<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6wCOZ2BTmyuqJQnlqGbN4pf9_dyXXR10&sensor=false&libraries=panoramio">   //charge l'API Google Map valable sur mon serveur LocalHost
    </script>
    <script type="text/javascript">
      /*function CoordMapType(tileSize) {
        this.tileSize = tileSize;
      }

      CoordMapType.prototype.getTile = function(coord, zoom, ownerDocument) {   //Fonction de test qui affiche 3 images sur des Tiles a Chicago
        var div = ownerDocument.createElement('div');
        div.innerHTML = coord;
        div.style.width = this.tileSize.width + 'px';
        div.style.height = this.tileSize.height + 'px';
        div.style.fontSize = '10';
        div.style.borderStyle = 'solid';
        div.style.borderWidth = '1px';
        div.style.borderColor = '#AAAAAA';
        div.style.zIndex = 99999999999999;
        if (coord == "(261, 380)") {
          div.style.background = "url({{ asset('images/chicago.jpg') }})";
          //div.setAttribute("onClick","switchImg(coord);";
        };
        if (coord == "(263, 381)") {
          div.style.background = "url({{ asset('images/chicago2.jpeg') }})";
          //div.setAttribute("onClick","switchImg(coord);";
        };
        if (coord == "(266, 380)") {
          div.style.background = "url({{ asset('images/chicago3.jpeg') }})";
          //div.setAttribute("onClick","switchImg(coord);";
        };
        return div;
      };

      function switchImg(coord){                            // Fonction de test
        //var div = document.getElementById(coord);
        /*if (div.style.opacity == 1) {
          div.style.opacity = 0;
        }else{
          div.style.opacity = 1;
        };
        alert("coucou");
      }

      function initialize() {     //Initialise la map avec tous les paramètres suivants sur la div "map-canvas"

        var mapOptions = {
          center: new google.maps.LatLng(20, 2),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        };
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
        map.overlayMapTypes.insertAt(0, new CoordMapType(new google.maps.Size(256, 256)));
      }
      google.maps.event.addDomListener(window, 'load', initialize);*/

      function initialize() {
        var mapOptions = {
          center: new google.maps.LatLng(20, 2),
          zoom: 3,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        var panoramioLayer = new google.maps.panoramio.PanoramioLayer();
        panoramioLayer.setMap(map);

        var photoPanel = document.getElementById('photo-panel');
        map.controls[google.maps.ControlPosition.RIGHT_TOP].push(photoPanel);

        google.maps.event.addListener(panoramioLayer, 'click', function(photo) {
          var li = document.createElement('li');
          var link = document.createElement('a');
          link.innerHTML = photo.featureDetails.title + ': ' +
              photo.featureDetails.author;
          link.setAttribute('href', photo.featureDetails.url);
          li.appendChild(link);
          photoPanel.appendChild(li);
          photoPanel.style.display = 'block';
        });
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
{% endblock %}