/****************************************************************************************************



		CSS PROVISOIRE -- Ce CSS est totalementa réorganiser, ceci fera l'objet d'un travail
						  futur, dès lors que le site aura un peu plus de fonctionnalités.




*****************************************************************************************************/
html {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 70px;  /* Affiche sous la nav-bar */
  text-align: center;
}

.Thewelcome{
	text-align: center; /* Hello World */
}

.btn-connect{			/* Descent le Bouton Connect dans la nav-bar */
	margin-top: 8px;
}

.btn-close-connection{	/* Fait flotter le bouton close du pop-up connexion a gauche */
	float: left;
}

.modal-body{			/* Aligne le text a gauche dans le pop up connexion */
	text-align: left;
}

.tab-login, .tab-signin{	/* Permet d'avoir deux onglets qui prennent tout le pop-up et définit la taille de leurs titres */
	font-size: 20px;
	width: 50%;
}

.contact-fields{		/* Affiche le champs contact dans la page About */
	font-size: 20px;
	text-align: left;
}

.nameUser{				/* Affiche le nom de l'utilisateur dans la Nav-Bar */
	margin-top: 11px;
	margin-right: 10px;
	font-size: 19px;
}

.formuLog{				/* Mise en forme du formulaire de la PAGE Login */
	width: 500px;
	text-align: left;
	left: 50%;
	margin: auto;
}

/* Caroussel */

ul { 
list-style-type: none; 
}

li[id^="li"]{
	display:inline-block;
	margin-right: 30px;
	margin-bottom: 20px;
}

.liselect{
	color:white;
	background-color: #f27a2e;
	padding: 8px 13px 8px 13px;
	transition: background 0.5s;
}

.noselec{
	padding: 8px 13px 8px 13px;
}

.noselec:hover{
	color:white;
	background-color: #f27a2e;
	padding: 8px 13px 8px 13px;
	transition: background 0.5s;
}


 #chevgauche{
 	position: absolute;
 	padding-top: 125px;
 	padding-bottom: 125px;
 	margin-top: 20px;
 }

 #chevgauche:hover{
 	background-color: #f27a2e;
 	transition: background 0.5s;
 }

  #chevdroit{
 	position: absolute;
 	padding-top: 125px;
 	padding-bottom: 125px;
 	margin-top: 20px;
 	margin-left: -50px;
 }

  #chevdroit:hover{
 	background-color: #f27a2e;
 	transition: background 0.5s;
 }

#imgHTML {
box-shadow: 4px 4px 8px 1px grey;
margin-top: 20px;
margin-bottom: 10px;
}


/* Fin du carrousel */


/* Panoramio Layer */

#panel{
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
#photo-panel {
  background: #fff;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 300px;
  max-height: 300px;
  font-size: 14px;
  font-family: Arial;
  border: 1px solid #ccc;
  box-shadow: -2px 2px 2px rgba(33, 33, 33, 0.4);
  display: none;
}
