{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
	<div class="container main-page">

		{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
		
		{% block PaT_body %}
			<h1> Page session</h1>
			{# Premiére colone #}
			<div class="col-md-2">
				<h3>Utilisateurs</h3>
				
				<div class="well well-lg">
					<ul class="">
						{% block Column_left %}
						<li class="col-sm-offset-0 col-md-12"><a href="{{ path('pa_t_voyage_homepage') }}">Retour à l'Index</a></li>
						<li class="col-md-12"><a href="{{ path('pa_t_voyage_add') }}">Ajouter un voyage</a></li>
						{% endblock %}
					</ul>
				</div>
			</div>

			<div class="col-md-8 well">
				{# Deuxiéme au centre #}
				{% block Column_centrale %}

				{% endblock %}
			</div>

			{# Troisiéme colone #}
			<div class="col-md-2">
				<h3>Colone en + ;)</h3>
			</div>
		{% endblock %}

	</div>
{% endblock %}