{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
  <div class="container main-page">

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    
    {% block PaT_body %}
      {# Premiére colone #}
      <div class="col-md-2">

        {% block Column_right %}
        {% endblock %}
      </div>

      <div class="col-md-8">
        {# Deuxiéme colone #}
        {% block Column_central %}
          {% block fos_user_content %}
          {% endblock %}
        {% endblock %}
      </div>

      {# Troisiéme colone #}
      <div class="col-md-2">

        {% block Column_left %}
        {% endblock %}

      </div>
    {% endblock %}

  </div>
{% endblock %}