{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
	
	<div class="container main-page">

		{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
		{% block PaT_body %}
			<h1>News</h1>
			
			{# Premiére colone #}
			<div class="col-md-2">
					
				<h3>Colone Menu</h3>

				<div class="well well-lg">
					<ul class="list-menu">
					</ul>
				</div>
			</div>

			{# Colone centrale #}
			<div class="col-md-10">
				{% block Column_centrale %}

				{% endblock %}
			</div>

		{% endblock %}

	</div>
{% endblock %}