{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
	
	<div class="container main-page">

		{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
		{% block PaT_body %}
			
			<h1> Page session</h1>
			
			{# Premiére colone #}
			<div class="col-md-2">
					
				<h3>Menu</h3>

				<div class="well well-lg">
					<ul class="list-menu">
						{% block Column_left %}

							<li><a href="{{ path('pa_t_voyage_traveluser', { 'userid' : app.user.id } ) }}">My Travels</a></li>
							<hr>
							<li><a href="{{ path('pa_t_voyage_add') }}">Add travel</a></li>

						{% endblock %}
					</ul>
				</div>
			</div>

			{# Colone centrale #}
			<div class="col-md-8">
				{% block Column_centrale %}

				{% endblock %}
			</div>

			{# Colone e droite #}
			<div class="col-md-2">
				<h3>Colone en + ;)</h3>
				<div class="well well-lg">

				</div>
			</div>
		{% endblock %}

	</div>
{% endblock %}