{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}
	
	<div class="container main-page">

		{# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
		{% block PaT_body %}

			{# Colone centrale #}
			<div class="col-md-12">
				{% block Column_centrale %}

				{% endblock %}
			</div>

		{% endblock %}

	</div>
{% endblock %}